{% if short_links %}
<table class="theme-table">
  <thead>
    <tr>
      <th scope="col">短链</th>
      <th scope="col">目标地址</th>
      <th scope="col">访问次数</th>
      <th scope="col">创建时间</th>
      <th scope="col" class="theme-table__cell--right">操作</th>
    </tr>
  </thead>
  <tbody>
    {% for item in short_links %}
    {% include "admin/partials/link_row.html" %}
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="theme-table__empty">
  暂无短链记录，可通过上方表单或 <code>/api/links</code> 接口创建。
</div>
{% endif %}
